* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-weight: 400;
  width: 100%;
  background: rgb(209, 209, 209);
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
